<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="#"><i class="material-icons">home</i>Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="material-icons">view_agenda</i>Workflow</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="material-icons">trending_up</i>Statistics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="material-icons">date_range</i>Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="material-icons">perm_identity</i>User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="material-icons">settings</i>settings</a>
    </li>
</ul>