<li class="card" class="list-group-item">
    <div class="task-container">

        <div class="avatar">
            <p class="avatar-container">
                <i mat-card-avatar class="task-avatar"></i>
            </p>
        </div>
        <div class="activity-body">
            <div class="top-data">
                <p class="name">
                    <i>
                      michael vexler
                    </i>
                </p>
                <p class="activity">
                    <i>
                      added new project
                      </i>
                </p>
                <p class="project-name">
                    <i>
                      Angular 4 App
                  </i>
                </p>
            </div>
            <p class=".time-stamp">
                <i>
                  <i class="material-icons">schedule</i> 5 days delays
                </i>
            </p>
        </div>
    </div>
</li>