<li class="card" class="list-group-item">
    <div class="task-container">

        <div class="avatar">
            <p class="avatar-container">
                <i md-card-avatar class="task-avatar"></i>
            </p>
        </div>

        <div class="task-body">
            <p class="main">
                New website for Symu.co
            </p>
            <p class="sub">
                <i class="material-icons">schedule</i> 5 days delays
            </p>
        </div>
        <div class="more">
            <i class="material-icons">more_vert</i>
        </div>
    </div>
</li>