p {
    margin: 0;
    display: inline-flex;
    align-self: center
}

.task-avatar {
    height: 50px;
    width: 50px;
    background-color: #5384ff;
}

.avatar {
    display: inline-flex;
    order: 1;
    flex-grow: 1;
    margin-left: 32px
}

.more {
    display: inline-flex;
    order: 3;
    flex-grow: 1;
    align-self: center
}

.more>i {
    font-size: 20px
}

.task-body {
    display: inline-flex;
    order: 2;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    flex-grow: 13
}

.spacer {
    flex: 1 1 auto;
}

.list-group-item {
    width: 100%;
    height: 100%;
}

.card {
    width: 480px;
    border: transparent;
}

.task-container {
    display: flex;
    flex-direction: row;
    height: 100%
}

.main {
    font-size: 20px;
    width: 100%
}

.sub {
    color: red;
    font-size: 14px;
    width: 100%
}

.material-icons {
    font-size: 14px;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.list-group-item {
    padding: 0
}