<li class="card" class="list-group-item">
    <div class="task-container">

        <div class="avatar">
            <p class="avatar-container">
                <i mat-card-avatar class="task-avatar"></i>
            </p>
        </div>

        <div class="task-body">
            <p class="main">
                <i class="full-name">Michael Vexler</i>
                <i class="time-stemp">5 minutes</i>
            </p>
            <p class="sub">
                Hey You! It’s me again :-) I attached new
            </p>
            <nav class="nav">
                <a class="nav-link active" href="#"><i class="material-icons">reply</i></a>
                <a class="nav-link" href="#"><i class="material-icons">settings</i></a>
            </nav>

        </div>
    </div>
</li>
