<md-toolbar class="header-toolbar">
    <button class="toggle-button" (click)="toggleSideMenu()" type="button">
        <i class="material-icons">dehaze</i>
    </button>
    <div class="form-group">
        <label for="example-search-input" class="col-2 col-form-label"><i class="material-icons mt-icons">search</i></label>
        <div class="col-10">
            <input class="form-control" type="search" id="example-search-input">
        </div>
    </div>

    <span class="example-spacer"></span>
    <span class="header-actions">
        <button class="btn btn-primary" type="button">+ add Project</button>
    <i class="material-icons mt-icons">notifications</i>
    <i class="material-icons mt-icons">mail_outline</i>
    <img src="../../assets/photos/face_left.png" class="padding rounded float-right" alt="...">
    <i class="material-icons mt-icons" style="padding: 0 3px">expand_more</i>
    </span>
</md-toolbar>